*{
    margin: 0;
    padding: 0;
}
/* --primary: #0f172a (Midnight Navy)

--accent: #22d3ee (Cyan / Aqua)

--text: #e2e8f0 (Light Slate)

--background: #f8fafc (Soft White)

--hover: #0ea5e9 (Sky Blue) */
section{
    display: flex;
    background-color: #0f172a;
    position:fixed;
    width: 1200px;
}
section .image{
    margin: 10px;
    padding: 5px;
    padding-right:170px ;
}
section .content{
    margin: 10px;
    padding: 5px;
    margin-top: 25px;
}
section .Book{
    margin: 10px;
    padding: 15px;
    margin-top: 13px;
    margin-left: 140px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
}
.content a{
    padding: 25px;
    text-decoration: none;
    font-weight: 900;
    color: #e2e8f0;
}
.Book a{
    padding: 20px;
    color: #0f172a;
    background-color: #f8fafc;
    border-radius: 20px;
    font-weight: bolder;
}
.food{
    display: flex;
    background-color: #e2e8f0 ;
}
.food img{
    padding: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}
.info h1{
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-align: center;
    color: #0f172a;
}
.info p{
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15px;
    color: #0f172a;
    text-align: center;
    margin-top: 50px;
}

.section {
    height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    text-align: center;
}

    .bg1 {
      background-image: url('/image2.png');
    }

    .bg2 {
        height: 450px;
      background-color: #f8fafc;
    }

    .bg3 {
      background-image: url('/image3.png');
    }
.content .dishes{
    display: flex;
}
.sectionbg2 .
.sectionbg2 .content h1{
    text-align: center;
    margin-bottom:50px ;
}
